body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    width: 90%; /* Cambio de ancho fijo a porcentaje */
    max-width: 300px; /* Ancho máximo */
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
}

li.completed {
    text-decoration: line-through;
    color: #888;
    background-color: #ffcccc; /* Rojo claro */
}
